*{
    margin:auto ;
    padding: auto;
    box-sizing: border-box;
}
html{
     scroll-behavior: smooth;
}

body {
    height: 80vh;
}

.center-text {
    text-align: center;
}

#Home{
    height: 80vh;
    background-color:bisque;
    text-align: center;
}

#Explicit-Choice{
    height: 300vh;
    background-color: black;
    text-align: center;
}

#Adoption-forms{
    height: 5vh;
    background-color:whitesmoke;
    text-align: center;
}

header nav{
    display: flex;
    align-items: center;
}


.image-container {
    position: relative;
}

.bottom-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.hidden {
    display: none;
}

label{
    display: block;
}

button{
    display: block;
    background-color: aquamarine;
    border: 0px;
    padding:0px;
    cursor: pointer;
    box-sizing: border-box;
}

.top-section{
    background-color: black;
    height: 80vh;
    width: 1000px;
    text-align: center;
}

.bottom-section{
    background-color: black;
    height: 80vh;
    width: 1000px;
    text-align: center;
}




